#cabecalho h1 {
    font-size: 80px;
}

#link {
    font-size: 20px;
}

#header{
    width: 500px;
    height: 350px;
}

#legenda {
    font-size: 12px;
}

p {
    font-size: 20px;
}

#amorArthur img {
    width: 350px;
    height: 350px;
}

#idGarotaMaisLinda img {
    width: 350px;
    height: 350px;	
}

#imagem {
    width: 350px;
    height: 350px;	
}

#desenhoCasal {
    width: 350px;
    height: 450px;	
}

#emoj {
    width: 350px;
    height: 250px;	
}

#gif {
    width: 300px;
    height: 150px;		
}

#garotaMaisLinda {
    width: 500px;
    height: 200px;	
}

#hulk {
    background: linear-gradient(white, green) no-repeat center center fixed;
}

footer{
    background-color: blue
}

#textFooter {
    color: white
}

/**
*** Seta para ESQUERDA
**/
.seta-esquerda:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0; 
  height: 0; 

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; 
  border-right: 5px solid black; 
}

/**
*** Seta para DIREITA
**/
.seta-direita:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0; 
  height: 0; 

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
}

#slideFotoInicial img {
    width: 350px;
    height: 350px;
}

#botaoSeta {
    width: 50px;
    height: 50px;
}